% {erl_opts, [debug_info]}.
% {deps, []}.

% {shell, [
%     %% {config, "config/sys.config"},
%     {apps, [pedestrian]}
% ]}.

% % {erl_opts, [debug_info, {d, 'TEST'}]}.
% {profiles,
%  [
%   {test, [
%     {deps, [
%       {meck, "0.9.2"}
%     ]},
%     {erl_opts, [debug_info, {d, 'TEST'}]}
%   ]}
%  ]}.
% 
{erl_opts, [debug_info]}.
{deps, []}.
{eunit_opts, [verbose]}.